@model SupperClub.Models.BookingModel

@{
    ViewBag.Title = "Session Expired";
}

<div class="container pv">
    <div class="layout">
        <div class="layout__item large-and-up-1/2">
            <h1 class="type-x-huge color-orange type-bold mb"><span class='type-x-huge type-uppercase line-height-1'>Whoops!</span><br>Looks like your session has expired, please try purchasing again!</h1>
            <p class="opacity-7 type-light">You'll need to start the purchase process again from 'Book Now' to start a new purchase session.</p>
        </div>
        <div class="layout__item large-and-up-1/2">
            <div class="pt+">
                <img src="/content/images/404.png" alt="">
            </div>
        </div>
    </div>
</div>

