@model SupperClub.Models.BookingModel

@{
    ViewBag.Title = "Basket information was updated in a different window";
}

<div class="container pv">
    <div class="layout">
        <div class="layout__item large-and-up-1/2">
            <h1 class="type-x-huge color-orange type-bold mb">Looks like some information in your basket was updated in a different window!</h1>
            <p class="opacity-7 type-light">Please click <a href="/booking/booktickets">here</a> to go back to your basket.</p>
        </div>
        
    </div>
</div>

