@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"><![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en" style="padding-top:0px !important;">
<!--<![endif]-->
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Look out for all the yummy offerings your favourite chef is dishing out</title>
    <meta name="description" content="">

</head>
<body>

    <script type="text/javascript">
    debugger;
    if (top.frames.length > 0) {
        var finalLocation = "@ViewBag.locationUrl" + encodeURIComponent("@ViewBag.returnUrl");
            top.location = finalLocation;
        }
    </script>

</body>

</html>
