@{

}
@section PageSpecificScripts {
    <script src="@Url.Content("~/Scripts/home/bootstrap.min.js")" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/bootstrap.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/marketingtips.css")" />
}
<!--
    <!DOCTYPE HTML>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Marketing Tips</title>
    </head>
    <body>
-->
<div class="container main">
    <div class="col-sm-12">
        <div class="row panel">
            <h1>Marketing Tips for your GrubClub</h1>
            <div class="col-sm-12 well">
                <h2>First and foremost:</h2>
                <ul>

                    <li>
                        Don’t forget to share your event on Social Media: Facebook, Twitter, Pinterest, Google +, etc.
                        <ul>
                            <li>Include @@grub_club in your tweets so we can retweet</li>
                            <li>Add “Chef @@Grub_Club” to your Twitter Description so people know you are a coveted host</li>
                            <li>Tag GrubClub1 on your Facebook Page so we can share – the more you include us, the more we’ll share your grub clubs with the wider world!</li>
                        </ul>
                    </li>
                    <li>And get as much coverage as you can: your blog, someone else’s blog, a relevant publication – anyone who would share your interest and have a similar user-base</li>
                </ul>
            </div>
            <div class="col-sm-12">
                <p>Whilst GrubClub will be trying its hardest to help you sell your tickets on the ground, independent marketing will make all the difference to your sales and help grow your public profile. To help you reach out to as many people as possible here are some handy marketing tips we’ve put together just for you.</p>
            </div>
           
        </div>

        <ol>
            <li>
                Distinguish who your target market is (your customer base) – <b>Who would want to come to your pop up event?</b>

                <ul>
                    <li><b>What kind of person would be interested in attending your event</b> Eg. Young people, foodies, “trend-setters”, local producers, market-goers…</li>
                    <li><b>Where would you find them?</b> Eg. specific food shops, local communities, online channels…</li>
                    <li><b>What do these people like to do?</b> Eg. Attend food festivals, eat street food, read articles online, read articles offline, fine dining, casual dining…</li>
                </ul>
            </li>
            <li>
                Distinguish relevant press outlets – <b>Who would want to feature your event and spread the word?</b>
                <ul>
                    <li><b>What kind of press would be interested in writing about your event?</b> Eg. Food magazines, local papers, national press, online communities, bloggers…</li>
                    <li><b>Do you have a community that you’re already part of that would be interested in supporting you?</b> Eg. Friends, family and colleagues…</li>
                </ul>
            </li>
            <li>
                Think about different ways you can reach your target market – <b>What platforms can you use to get your message across and how?</b>
                <ul>
                    <li><b>Develop identifiable branding for your event and maybe even for yourself (and future projects). </b>This way people interested in your work can associate your marketing materials directly with your projects. Branding can also help convey character, business ethos and the aims of your project to audiences whilst also giving visual insight into your style and approach.</li>
                    <li><b>Create interesting flyers aimed to appeal to your target audience.</b> We recommend using high quality images; be sure to include booking details, date and description of your event. You can also use these online without printing them.</li>
                    <li><b>Use free online social media channels to share news with your target audience and get them interested.</b> Eg. Facebook, Twitter, Instagram, Pinterest … Don’t be shy about publishing recipes and evidence of past projects, this will provide your audience with an online portfolio that will make them more likely to buy tickets and get excited. Try to whet their appetites!</li>
                    <li><b>Hit the streets and talk to people face to face about your project.</b> Talk to your office, local cafes, market goers, people attending street food events…</li>
                    <li><b>Single out press and journalists that might be interested in your work and send them a press release.</b> Think about what they could write about: the food, the menu, the venue, the event, you as a chef/food entrepreneur and what makes you different. Give them what they need to write an article quickly.</li>
                </ul>
            </li>
            <li>
                Contact and interact with people regularly to keep them up to date on your project – <b>What will keep people interested and talking about your event?</b>
                <ul>
                    <li><b>Take the time to research and find interesting and well-connected users of Facebook and Twitter.</b> They may be able to help you reach out to more people online and encourage bookings.</li>
                    <li>
                        <b>When posting on Twitter and Facebook consider: </b>What time you post (what time people are most likely to be online). How many times you post (will people feel bombarded, or under- informed)? Include (and tag) relevant people in your posts who could retweet/share your events. (The more open discussion of your event you can generate online, the more likely the news will spread to those interested in your work and encourage ticket sales!) Remember to:
                        <ul>
                            <li><b>Include @@grub_club in your tweets</b> so we can retweet</li>
                            <li><b>Add “Chef @@Grub_Club” to your Twitter Description</b> so people know you are a coveted host</li>
                            <li><b>Tag GrubClub1 on your Facebook Page</b> so we can share – the more you include us, the more we’ll share your grub clubs with the wider world!</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><b>Create interest and hype around your event.</b> Don’t forget to keep people in the loop, publish information about your menu and inspiration for your grub club. We recommend posting clear, high quality and interesting photos for people to engage with and share with friends. (Consider using a professional photographer).</li>
            <li><b>Make it personal:</b> The difference between a grub club and a restaurant is what you can bring as a person to the experience, rather than a faceless restaurant. Don’t be afraid to share your story and motivations (briefly!) and don’t be afraid to be passionate!</li>
        </ol>
        <div class="well">
            <h2>Top Facebook Tip:</h2> 
            <p>Sharing events and posts about your event on Facebook has the potential to reach enormous numbers of Facebook users if you ensure that you share ONE post across all promotional Facebook pages. For example,</p>
            <ol>
                <li>Grubclub creates a post about your event on Facebook</li>
                <li>You share that exact same post on your popup page/personal profile</li>
                <li>You encourage your friends and fans to share the post on their pages and interact with it</li>
            </ol>
            <p>ONE post shared across multi-pages is much more likely to appear on more people’s newsfeeds. This is because lots of people have interacted with just one piece of content, ranking it as popular on the website. And so, encouraging people to share one particular post as much as possible will expose posts to our fans, your fans and probably all of their Facebook friends, meaning a much greater Facebook reach.</p>
        </div>
        <p>Finally remember be persistent but not overbearing. Spreading the word requires a lot of work, but the best technique is partnering with organisations that are aligned to the ethos of your event. They will have the perfect audience wanting to attend events they would recommend. Don’t be shy about striking up contact with them.</p>

        <h4>And Keep Us Posted</h4>
        <p>We all share the same goal of wanting your event to be successful and fully booked! It’s important that we work together and regularly keep in contact so as not to contradict each other and work effectively as a unit. Good Luck!</p>
    </div>
</div>
<!--</body>
</html>-->
