
    @*<a href="http://grubclub.com/unique-dining">*@ 
     <a href="http://grubclub.com/unique-dining?utm_source=uniquehp&utm_medium=hp&utm_campaign=generic">
    <div>
        <h2 class=" col-xs-12">
    Dine In Quirky Spaces
    </h2>



    <!-- the image for the event goes below here, 200px by 200px in size - just replace the src attribute value  -->

    <img src="@Url.Content("~/Content/images/Events/4B11C8B7-A198-4B8E-9AF9-ED90DCCC27F9.jpg")" alt="" style=" width: 100%;" />
    </div>
</a>
      
   
  
