@{
    ViewBag.Title = "About Grub Club | Book Fun Dining Experiences ";
    ViewBag.Description = "Grub Club was founded in January 2013 as a way for Londoners to rediscover their City through food. Book curated Dining Experiences.";
}

@*<div class="container mb+">
    <ul class="breadcrumbs list-inline list-inline--delimited pt-- mb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Chefs </a></li>
        <li><a href="#">User Profile </a></li>
        <li class="current"><a href="#">Adam Walden</a></li>
    </ul>
</div>*@
    <div class="container">

        <h1 class="type-light mb">Information</h1>
        <div class="layout">
         @Html.Partial("_LeftNavigation")
            <div class="layout__item large-and-up-3/4 medium-1/2">
                <h2 class="h3 mb pb-">About Us</h2>
                   
                <p>
                    This is a story of two food obsessed friends who realised they simply wanted to share what they loved doing every day: get people together to discover a new food adventure.</p>

            <br />  <p>      <i>
                        " It all began with a trip to Zanzibar…… Being a foodie, I couldn’t wait to see what riches the Spice Island would offer. Beautiful as the island was, imagine my disappointment to see a whole range of underwhelming European restaurants.

                        I spent the rest of the trip looking for a local experience and finally came across Two Tables – a local family home converted into a restaurant with… that’s right: two tables! What a wonderful experience eating local, natural home cooked food, discovering Stone Town’s culinary secrets from a friendly Zanzibari.

                        Fast forward to 2010 where I met Liv in the Jungles of South India!

                        A lasting friendship was quickly established, bringing Liv to the dinner table of many of my friends’ mums who were delighted to share their culinary secrets with the curious foreigner.

                        Our shared love of food, travel and meeting people sealed our destinies and Grub Club was born."
                    </i></p><br />

                 <p>   Liv and Sid would like to build on this idea with you by bringing together a community of food lovers who share the same passions and interests, be it in London, Zanzibar, South India or anywhere in the world.
                </p>
                
            </div>
        </div>

    </div>


