@{
    ViewBag.Title = "Find and Book Pop Up Restaurants | Eat Out with Grub Club";
    ViewBag.Description = "Four easy steps to attend the latest Pop Up Restaurants and Supperclubs. Learn what a Grub Club is";
}


@*<div class="container mb+">
        <ul class="breadcrumbs list-inline list-inline--delimited pt-- mb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Chefs </a></li>
            <li><a href="#">User Profile </a></li>
            <li class="current"><a href="#">Adam Walden</a></li>
        </ul>

    </div>*@

<div class="container">

    <h1 class="type-light mb">Information</h1>
    <div class="layout">
        @Html.Partial("_LeftNavigation")
        <div class="layout__item large-and-up-3/4">
            <h2 class="h3 pb-">Find out why diners love Grub Clubs...</h2>
            <article class='mb+'>
                <div class="video-container" style="height:450px;">

                    <iframe src="//player.vimeo.com/video/101171741" width="100%" height="450px" fraeborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                    <p><a href="https://vimeo.com/101171741">Want to see what Grub Club is all about?</a> from <a href="https://vimeo.com/grubclub">Grub Club</a> on <a href="httpss://vimeo.com">Vimeo</a>.</p>

                </div>
            </article>
           
            <h2 class="h3 pb-">So, how does it all work?</h2>
            <article class='mb+'>
                <img src="/content/images/how-grub-club-works.jpg" alt="How-Grub-Club-Works" />
            </article>

            <h2 class="h3 pb-">Sneak peek inside a Grub Club...</h2>
            <article class="mb">
                <div class="video-container" style="height:450px;">
                    <iframe src="//player.vimeo.com/video/65300127" width="100%" height="450px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </article>
            <p class="type-large mb+">Still unsure? See our <a href="/faqs" class="type-bold">FAQs</a> for more information or <a href="/contact-us" class="type-bold">get in touch</a> with us</p>
        </div>
    </div>

</div>

