

    <div class="container">
        @*<ul class="breadcrumbs list-inline list-inline--delimited pt-- mb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Chefs </a></li>
            <li><a href="#">User Profile </a></li>
            <li class="current"><a href="#">Adam Walden</a></li>
        </ul>*@


        <h1 class="type-light mb">News</h1>

        <div class="layout">
            <div class="layout__item large-and-up-1/4">
                <nav class="nav--primary nav--vertical">
                    <ul>
                        <li><a href="" class="type-bold type-default color-gray opacity-9 hover-opacity-1">JULY 2014</a></li>
                        <li><a href="" class="type-bold type-default color-gray opacity-9 hover-opacity-1">JUNE 2014</a></li>
                        <li><a href="" class="type-bold type-default color-gray opacity-9 hover-opacity-1">MAY 2014</a></li>
                        <li><a href="" class="type-bold type-default color-gray opacity-9 hover-opacity-1">APRIL 2014</a></li>
                        <li><a href="" class="type-bold type-default color-gray opacity-9 hover-opacity-1">MARCH 2014</a></li>
                        <li><a href="" class="type-bold type-default color-gray opacity-9 hover-opacity-1">FEBRUARY 2014</a></li>
                        <li><a href="" class="type-bold type-default color-gray opacity-9 hover-opacity-1">JANUARY 2014</a></li>
                        <li><a href="" class="type-bold type-default color-gray opacity-9 hover-opacity-1">2013</a></li>
                        <li><a href="" class="type-bold type-default color-gray opacity-9 hover-opacity-1">2012</a></li>
                    </ul>
                </nav>

            </div>
            <div class="layout__item large-and-up-3/4">


                <section class="flag flag--responsive flag--top news-article mb">
                    <div class="flag__img">
                        <a href="page.news-inner.html" class="display-block"><img src="@Url.Content("~/Content/images/")placeholder-img.jpg" alt=""></a>
                    </div>
                    <div class="flag__body">
                        <a href="page.news-inner.html"><h2 class="h5 type-semibold color-darken">News Title Here</h2></a>
                        <time class='color-gray mb-- display-block'>15 April, 2014</time>
                        <p class="mb- color-link">Etiam massa nisi, aliquam vel massa a, sodales malesuada eros. Phasellus molestie neque et massa tincidunt, eleifend aliquam sapien tristique. Curabitur sit amet nisi ex. Ut bibendum semper ante, a rutrum nisl eui..</p>
                        <div class="clearfix"></div>
                        <a href="page.news-inner.html" class="float-right opacity-5 color-black type-small">Read More ></a>
                    </div>
                </section>


                <hr class="hr hr--dots mb">


                <section class="flag flag--responsive flag--top news-article mb">
                    <div class="flag__img">
                        <a href="page.news-inner.html" class="display-block"><img src="@Url.Content("~/Content/images/")placeholder-img.jpg" alt=""></a>
                    </div>
                    <div class="flag__body">
                        <a href="page.news-inner.html"><h2 class="h5 type-semibold color-darken">News Title Here</h2></a>
                        <time class='color-gray mb-- display-block'>14 April, 2014</time>
                        <p class="mb- color-link">Etiam massa nisi, aliquam vel massa a, sodales malesuada eros. Phasellus molestie neque et massa tincidunt, eleifend aliquam sapien tristique. Curabitur sit amet nisi ex. Ut bibendum semper ante, a rutrum nisl eui..</p>
                        <div class="clearfix"></div>
                        <a href="page.news-inner.html" class="float-right opacity-5 color-black type-small">Read More ></a>
                    </div>
                </section>


                <hr class="hr hr--dots mb">


                <section class="flag flag--responsive flag--top news-article mb">
                    <div class="flag__img">
                        <a href="page.news-inner.html" class="display-block"><img src="@Url.Content("~/Content/images/")placeholder-img.jpg" alt=""></a>
                    </div>
                    <div class="flag__body">
                        <a href="page.news-inner.html"><h2 class="h5 type-semibold color-darken">News Title Here</h2></a>
                        <time class='color-gray mb-- display-block'>11 April, 2014</time>
                        <p class="mb- color-link">Etiam massa nisi, aliquam vel massa a, sodales malesuada eros. Phasellus molestie neque et massa tincidunt, eleifend aliquam sapien tristique. Curabitur sit amet nisi ex. Ut bibendum semper ante, a rutrum nisl eui..</p>
                        <div class="clearfix"></div>
                        <a href="page.news-inner.html" class="float-right opacity-5 color-black type-small">Read More ></a>
                    </div>
                </section>


                <hr class="hr hr--dots mb">


                <section class="flag flag--responsive flag--top news-article mb">
                    <div class="flag__img">
                        <a href="page.news-inner.html" class="display-block"><img src="@Url.Content("~/Content/images/")placeholder-img.jpg" alt=""></a>
                    </div>
                    <div class="flag__body">
                        <a href="page.news-inner.html"><h2 class="h5 type-semibold color-darken">News Title Here</h2></a>
                        <time class='color-gray mb-- display-block'>10 April, 2014</time>
                        <p class="mb- color-link">Etiam massa nisi, aliquam vel massa a, sodales malesuada eros.</p>
                        <div class="clearfix"></div>
                        <a href="page.news-inner.html" class="float-right opacity-5 color-black type-small">Read More ></a>
                    </div>
                </section>


                <hr class="hr hr--dots mb">
                <div class="text-center mb+"><a href="" class="btn btn--primary btn--radius btn--white">Load More</a></div>
            </div>
        </div>
    </div>


   