@{
    ViewBag.Title = "What is a Supperclub?";
    ViewBag.Description = "Find out what happens in a real supperclub. Learn some amazing new recipes and find out about the people in the kitchen.";
}

@section PageSpecificScripts {
}

<!--  Page Title -->
<div class="container pattern-design2">
    <div class="container">
        <p>@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() / @ViewBag.Title</p>
    </div>	
</div>
<!-- Page Title End -->

<div class="container sub-title2">
    <h2>@ViewBag.Title</h2>
</div>

<!--  960 Container Start -->
<div class="container">

	<!-- Accordions
	================================================== -->
	<div class="sixteen columns">

<p>A Supperclub is a cross between a restaurant and a dinner party. It’s the ultimate example of a social dining experience, whereby people are united over a table not only to eat delicious home cooked food but also to enjoy the company of others.</p>

<p>As with most people, the way to retrace someone's love of food is through their mum. And so it happened with me. My mum, Maddy, not only grew up on a rural farm, eating only the produce of the land, but still spends most of her time creating mouth-watering meals for her ever-growing family.  </p>
<p>Living in the South of France, we had a constant stream of visitors staying with us throughout the year. My mum fed a core family of six three times a day, but the grub usually extended to a handful more mouths – family, friends and visitors – naturally turning our home into a supper club. My mum is my greatest source of inspiration for food and home-cooked meals, coupled with a deep love for story-telling.</p>
<p>This is a collection of my mum’s stories - told by her - growing up on a farm, living an organic and sustainable life; a collection of recipes and food adventures, which I feel privileged to have been brought up on.</p>
<p>I hope you enjoy them as much as I have.</p>
<p>Liv</p>

<span class="acc-trigger"><a href="#">How it all began</a></span>
<div class="acc-container">
	<div class="content">
		<p>My recipes have evolved and developed with the years.  They have adapted mainly to my children’s tastes although I have tried to impose my own sometimes.  Luckily we all agree about Brussels sprouts and cabbage and despise them utterly.  My inspiration has usually come from reading recipe books and the cooking pages of Good Housekeeping and other publications; sometimes a friend with something particularly toothsome and delicious is prepared to share her secret with me. My sister, Heather, and my Mother have also been generous with their recipes.</p>
		<p>I have always been a devotee of Margaret Costa who writes with such wisdom and elegance.  She says “When I am not rushed, I find cooking the most restful and soothing of all occupations, to beat and baste, to peel and chop and slice, to taste and test and stir and skim is “therapy”, what in the old days they used to call joy”. (Listening to Radio 4 goes very well with all these occupations, although liquidising tends to block out the sound.)</p>
		<p>Robert Carrier wrote a book entitled “Great Dishes of the World”. My copy is forty years old and has lost its cover and many of the pages are stained with the ingredients of that particular recipe.   The Osso Bucco page is covered in tomato sauce.  The illustrations look so very nineteen sixties; it makes me realise just how sophisticated and beautiful the modern cookery photos are. I also love Katie Stewart and John Tovey who both make you want to rush to the kitchen and start cooking.</p>
		<p>I have cooked in many kitchens of all shapes and sizes, ancient and modern. Size really does not matter, a decent work surface does; in fact I find that cooking in my little kitchen is very practical and I can do everything without having to move very far. The rest is just a question of wanting to create something that makes you and your friends and family happy. A little praise for the cook will go a long way to getting your next invitation. My family and friends have all eaten their way through successes and failures and given me their invaluable comments and opinions and helped me to know which dishes they like best.</p>
		<p>My very grateful thanks to my familly and friends for your skill, generosity,  expertise,  excellent judgement and good taste in making the word flesh, so to speak. Without you there would have been no “Notes from a supper club”.</p>
		<p>So thank-you to all of you for your encouragement and enthusiasm. I have so much enjoyed the happy times cooking for you and there was a dose of love in every dish.</p>
	</div>
</div>

<!-- Simple Accordian Element -->
<span class="acc-trigger"><a href="#">TOMATO MEMORIES</a></span>
<div class="acc-container">
	<div class="content">
		<p>We had the most enormous greenhouse where I grew up at Church Farm in Lancashire. My mother spent most of her time there; it was her refuge, laboratory and favourite place to be. I remember her asking me once at what moment could I say “Now, doing this, being here, means total happiness to me”. I have often thought about that; in any case, her answer was being in the greenhouse, looking after her tomatoes, nursing her seedlings and listening to her little transistor radio. That radio was a real miracle as it survived more than one ducking in a bucket of water.  The smell of fresh tomatoes still growing on the vine always takes me back to our greenhouse and the heady, tropical jungle it became in the summer.  The only thing was, how to use so many tomatoes? Here is one idea.</p>
		<ul class="circle_list">
			<li><strong>Tomato Tart</strong></li>
			<li>My friend Nina’s recipe:  My son Hugo and I went to stay with Nina and Vasco in Madrid ten years ago. We had a wonderful weekend and Nina made this delicious tart. Thelma the dog was an integral part of life and probably got in the way by lying on the kitchen floor.  Nina now has a new dog which is not called Louise.</li>
		</ul>
		<p>Line a quiche tin with puff pastry (or basic shortcrust) I read that even Saint Delia now buys the ready-made stuff and so do I.</p>
		<p>Spread some mustard over the pastry and then some chopped-up bacon which you do not need to fry beforehand. Now a layer of some kind of tasty, melty cheese.  Nina used Comté, but honestly, Cheddar or Lancashire would be just as good. In fact, support your home industry and buy British if that is where you happen to be. <p> 
		<p>Now, slice up lots of good, ripe tomatoes and put them in circles, at least two layers deep:  drizzle some olive oil over, and salt and black pepper, maybe a few fresh basil leaves if you have some to hand. I think this needs an hour in a moderately- hot oven, say 180C and then left to cool a bit.  Much nicer eaten lukewarm.<p>
		<p>I remember putting just such a tart in the oven and then going off to the airport with my daughter Olivia to pick up one of her friends. The tart went on cooking for two hours until we returned but seemed only the better for my forgetfulness.<p>
	</div>
</div>

<span class="acc-trigger"><a href="#">Red Pepper and Goat’s cheese tart</a></span>
<div class="acc-container">
	<div class="content">
		<p>I have had so much success with this recipe which can be prepared for the oven in five minutes. </p>
		<ul class="circle_list">
			<li>You will need some bought puff pastry.  I would never even attempt to make puff pastry; life really is too short..</li>
			<li>Some grilled and skinned red peppers; this is a bit smelly and the whole house will reek for hours so if you want to go for the ones in jars I would do so.
		    If it is summer and the barbecue is nice and hot this is the perfect opportunity to throw a few peppers on, blacken them nicely, roll them up in newspaper, let them cool and then rub the skins off.  This is what my daughter Liv and she then stores it in batches in oil.</li>
			<li>Some goat’s cheese, the log sort is cheaper than the “crottins” and perfect.</li>
			<li>Bacon bits</li>
		</ul>
		<p>Cut the pastry into oblongs (about 4x6 inches). Put the bacon bits on the pastry and place slices of the goat’s cheese over them.  Now arrange the pieces of red pepper over the top. Turn up the edges of the pastry to make little box shapes. Brush the pastry with beaten egg and bake in the oven at 200 C for 20 minutes.</p>
		<p>You can serve this alone or perhaps on a bed of a few rocket leaves and a drizzle of olive oil.</p>
	</div>
</div>

<span class="acc-trigger"><a href="#">Quiches</a></span>
<div class="acc-container">
	<div class="content">
		<p>Quiches have to be the most versatile of dishes; as satisfying and easy to make as they are delicious to eat. They can adapt to so many different occasions and the variations on the basic theme are endless. </p>
		<p>They can be lunch with a simple salad, the first course of a dinner or a brilliant item for the picnic hamper. If rain spoils the outdoor feast you can eat the quiche at home and that is more cheerful and less of an anticlimax than sandwiches.</p>
		<p>Yes, you may buy the pastry; it usually is shortcrust but actually puff pastry is excellent.  In France, we have the choice between ready-rolled rectangular or round. I do hope UK supermarkets have got around to the fact that ready-rolled circular shaped pastry is so much more useful than the rectangular.  Liv, thanks for trying to educate them!! I wonder if they’ll listen to your advice.</p>
		<p>Quiches do look charming cooked in a white ceramic dish with fluted edges; however, the quiche does not cook as well as in the plain old metal type and often the pastry has a soggy bottom. </p>
		<p>Line your tin with the pastry and then scatter fried bacon bits over it; if rashers are the only choice just cut them up with scissors. My son Hugo tells me it is difficult to find “les lardons” in England; different attitude to bacon I suppose.</p>
		<p>Now add a layer of grated Gruyère and some rounds of goat’s cheese or blue cheese if you fancy.  Mix up 5 eggs with a big tub of cream which can be crème fraiche or single or double cream: Keep away from milk. Season well with salt and freshly ground pepper and pour over the rest. </p>
		<p>Cook at 180C for about 40 minutes by which time the quiche should be all puffed up and golden with a firm filling. I actually think this is better served warm rather than piping hot.</p>
		<p>A true “Quiche Lorraine” has no cheese.  How boring of it.</p>
		<p>Variations on a theme could be lots of fried leeks and bacon, or fried mushrooms, or smoked salmon, or onions which have been cooked a long age gently in butter until caramelised.</p>
		<p>Invent your own as long as you stick to the basic principle.</p>  
	</div>
</div>        

<span class="acc-trigger"><a href="#">Salad recipes</a></span>
<div class="acc-container">
	<div class="content">
        <p><strong>Five Easy pieces.</strong></p>
		<p>Five Salads that can be thrown together very easily and served with panache.</p>
		<p><strong>Orange, Prawn and Smoked Salmon.</strong></p>
		<p>I first ate this in a little restaurant in Milan and it was so refreshing and unusual that I had to add it to my repertoire.</p>
		<p>The recipe really is in the title. Choose whatever interesting salad leaves you like. Peel and slice some nice juicy oranges and add some cooked prawns and some smoked salmon cubes. </p>
		<p>Mix them with the salad leaves and coat in a tasty vinaigrette; snip some chives or perhaps some pretty, feathery dill over the top.</p>
		<p><strong>Warm Scallop salad.</strong></p>
		<p>Wash the scallops and fry them gently in some butter for about five minutes and add a little lemon juice.</p>
		<p>Add to your salad leaves with salt, black pepper and olive oil and toss.</p> 
		<p>You could add any other warm fish for another flavour and texture.</p>
		<p><strong>Green Bean and Foie Gras salad.</strong></p>
		<p>Cook the beans; I usually buy them frozen and they are excellent.</p>
		<p>Chop up some foie gras which can be duck (cheaper and just as good).</p>
		<p>Add to the warm beans and toss in olive oil and balsamic vinegar, salt and pepper to taste.</p>
		<p><strong>Salad of Green Beans and Butter Beans.</strong></p>
		<p>Cook the green beans as before. Open a tin of butter beans or any other type of white beans. Drain them and add to the green beans.</p>
		<p>Add lemon juice, olive oil, salt and black pepper. Toss the salad and sprinkle some freshly chopped parsley on top.</p>
		<p><strong>Blue Cheese and Walnut Salad.</strong></p>
		<p>Fry some walnuts gently in butter until they are nice and toasty. Fry some bacon bits.</p>
		<p>Chop up some blue cheese, the variety is your choice, French, Italian or English. Take a packet of baby spinach and add all the ingredients to the leaves.</p>
		<p>Toss in olive oil and balsamic vinegar, add salt and pepper.</p>
		<p><strong>Ok, maybe 6 salad recipes….</strong></p>
		<p><strong>Waldorf Salad.</strong></p>
		<p>I did say five easy pieces but I thought you should also have a recipe for Waldorf Salad just in case you happen to have a few waldorfs lying around doing nothing.</p>
		<p>This is Robert Carrier’s version but I think there really is only one.</p>
		<ul class="circle_list">
        	<li>6 eating apples</li>
			<li>Juice of 2 lemons</li>
			<li>6 stalks of celery</li>
			<li>50 gr walnuts</li>
			<li>Salad leaves</li>
			<li>Maoyonaise</li>
        </ul>
		<p>Core and dice the apples and sprinkle with lemon juice. Add the sliced celery and walnuts (toasted or not). Toss together with the mayonnaise and pile into a bowl lined with salad leaves.</p>
		<p>You can also add some diced, cooked chicken and maybe scatter a few finely-chopped celery leaves on top. It always seems such a shame to throw them away.</p>
		<p><strong>And just one more….</strong></p>
		<p><strong>Hot Goat's cheese salad.</strong></p>
		<p>This is utterly delicious and so simple.</p>
		<p>Take some “crottins” and allow two for each person.  Now wrap each one round with a slice of prosciutto and lay on a baking tray. Drizzle a little olive oil over them.</p>
		<p>Cook in a moderate oven for about ten minutes or until you see the cheeses are getting well cooked without actually falling to pieces: the slice of ham will encourage them to keep their shape.</p>
		<p>Serve on a bed of roquette or whatever salad leaves you fancy. Scatter a few fried pine nuts over and a little more olive oil.</p>   
    </div>
</div>

<!-- New Content Above here -->
	</div>

</div>
<!-- End 960 Container -->