@{
    ViewBag.Title = "Terms and Conditions";
}

@section PageSpecificScripts {
}

<!--  Page Title -->
<div class="container pattern-design2">
    <div class="container">
        <p>@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() / @ViewBag.Title</p>
    </div>	
</div>
<!-- Page Title End -->

<div class="container sub-title2">
    <h2>Terms and Conditions Grub Club ("GC")</h2>
</div>

<!--  960 Container Start -->
<div class="container">

	<!-- Accordions
	================================================== -->
	<div class="sixteen columns">
        <h4>These Terms</h4>
        <p>
            This page (together with the documents referred to on it) explains the terms and conditions on which our hosts provide a meal to their guests (which you will find listed on their individual pages, on our site).
            <ul class="check_list">
                <li>Please read these terms and conditions ("Terms") carefully they are a legal document and grant rights and responsibilities to users of the Grub Club website (“the Site”). You can print them or store them on your computer for later reference. <strong>By your continued use of the Site you agree to be bound by these Terms.</strong></li>
                <li>These Terms should be read in conjunction with GC’s privacy policy.</li>
                <li>If after reading these Terms you do not agree to be bound by them please exit the Site immediately.</li>
            </ul>
        </p>

        <span class="acc-trigger"><a href="#">1.0 About Us</a></span>
		<div class="acc-container">
			<div class="content">
                1.1 The Site is provided by Grubklub Limited (“Grub Klub/us/we/GC/GK”), our registered office is Base Kx 103C, Camley Street, London N1C 4PF.
            </div>
		</div>
        <span class="acc-trigger"><a href="#">2.0 Purpose</a></span>
		<div class="acc-container">
			<div class="content">
                2.1 The purpose of our service is the organisation of social dining events, facilitated by our hosts posting event details for guests to book. We provide the organisational structure to make such events possible.
            </div>
		</div>

        <span class="acc-trigger"><a href="#">3.0 Use of the site</a></span>
		<div class="acc-container">
			<div class="content">
                <p>3.1 You may use the Site only to post relevant material on the forum sections or upload events or food-related information, you may not use it in connection with a business or for illegal or immoral purposes. Views expressed by our users do not necessarily reflect those of GrubKlub Limited. The posting of defamatory or otherwise illegal comment or material, contravenes our policy is not allowed. Although GrubKlub is not responsible for comments included in this area, it reserves the right to review postings and delete them if they are not appropriate and your right to access GrubKlub may be revoked. Users should also be aware that such activities may subject them to civil actions or criminal penalties. You may use our Service only for lawful purposes. You also agree not to access without authority, interfere with, damage or disrupt any part of our Site or our Service or any network or equipment used in the provision of our Service.</p>
                <p>3.2 You may not authorise others to use the Service, and you are responsible for all of your own use of the Service. You agree not to use any obscene, indecent or offensive language, or to place on the Service any material that is false, defamatory, abusive, harassing or hateful. Further, you may not place on the Service any material that is encrypted, constitutes junk mail or unauthorised advertising, invades anyone's privacy, encourages conduct that would constitute a criminal offence or give rise to civil liability, or that otherwise violates any local, state, national or international law or regulation. You agree to use the Service only for lawful purposes and you acknowledge that your failure to do so may subject you to civil and criminal liability.</p>
                <p>3.3 You are responsible for ensuring that any material you provide to the website, including but not limited to text, photographs and sound, does not violate the copyright, trademark, trade secret or any other personal or proprietary rights of any third party.</p>
                <p>3.4 You may not cause any nuisance, annoyance or inconvenience to GC, GC’s customers or users of the Site. You agree to indemnify GC against any costs, claims, expenses or legal proceedings which may be taken as a result of your use of the Site.</p>
                <p>3.5 You agree that you are responsible for the security and use of any passwords user names to be used in accessing the Site. You agree to take all reasonable steps to protect and keep secure those passwords and usernames. If you fail to do so you will be held responsible for any unauthorised use of your passwords and usernames and any damage or loss which may arise as a result.</p>
                <p>3.6 You agree that you will not use the Site or any facility provided  by GC to send, receive, distribute, store, or otherwise deal with any material which is defamatory, offensive, illegal, obscene, subject to the intellectual property rights of others in breach of such rights, or breaches any duty of confidentiality by which you are bound.</p>
                <p>3.7 You agree not to use the Site in any way which may be connected with the distribution of multiple unsolicited emails.</p>
                <p>3.8 You agree to indemnify GC against any costs, claims, expenses or legal proceedings which may be taken as a result of breach of any of the Terms & Conditions contained in these Terms. Further,  GC may at any time withdraw any access privileges which you may have to the Site or any other services or areas provided by them, if you are in contravention of any of the Terms or Conditions contained herein.</p>
                <p>3.9 You agree to take all reasonable steps to maintain the accuracy of the information posted by yourself on the Site, either in the form of an advertisement or any other form. GC  reserve the right to remove any information in whatever form from the Site if they have reason to believe that it or any connected information is incorrect or so worded as to be misleading.</p>
                <p>3.10 These rules have been put in place to help ensure that the website is a welcoming and useful resource for everyone that participates. These rules outline what is deemed unacceptable behaviour and it is important to read them carefully. Do not post libellous or defamatory comments Do not post anything relating to any ongoing or pending trial Do not post content which you have copied from someone else (i.e. you do not own the copyright) Do not use profanities Do not post a personal insult about another user Do not advertise or solicit Do not impersonate another user.</p>
                <p>3.11 We cannot and do not review every post before it appears on the site. GC operates a 'notice and take-down' policy which means if GC is made aware of a post that contravenes these rules, or any law or regulatory guideline, GC reserves the right to amend or remove the post.</p>
                <p>3.12 GC encourages you to contact us if you feel a post violates these rules. Please click the "Report abuse" icon/link to let us know.</p>
                <p>3.13 You are responsible for the content of your posts and  GC does not accept any liability for the content or accuracy of your messages.  GC reserves the right to republish any material you submit.</p>
                <p>3.14 Users of the Site may submit material for publication in the designated areas. GC accepts no liability in respect of any material submitted by users and published by GC and GC is not responsible for its content or accuracy.</p>
                <p>3.15 If you want to submit material to the designated areas you may do so on the terms and conditions set out in this document.</p>
                <p>3.16 Publication of any material you submit will be at the sole discretion of GC and GC is entitled to make additions or deletions to or edit any such material prior to publication, after publication or to refuse publication.</p>
                <p>3.17 You grant GC a non-exclusive, perpetual, royalty-free license to republish any material you submit in any format, and you warrant to GC that any material you submit is your own work and that you own the copyright and all relevant rights or otherwise have the right to grant the licence set out above. The posting of your material on or via yourlocallondon.com does not violate the privacy rights, intellectual property rights, contractual rights or any other rights of any person.</p>
                <p>3.18 You warrant that the material you submit is not obscene, offensive, harassing, defamatory or otherwise illegal.</p>
                <p>3.19 You agree not to post material that is deliberately intended to upset other users.</p>
                <p>3.20 Please note that there is a risk that any photographs posted on any GC website may be downloaded and electronically altered by another user of that site. Whilst this is prohibited by the terms of GC's copyright permission notice, members should be aware of this risk before submitting photographs for publication on the site.</p>
                <p>3.21 GC is intended to facilitate communication between GC users and the views expressed do not necessarily reflect those of GC Limited. The posting of defamatory or otherwise illegal comment or material, contravenes our policy is not allowed. Although GC is not responsible for comments included in this area, it reserves the right to review postings and delete them if they are not appropriate and your right to access may be revoked. Members should also be aware that such activities may subject them to civil actions or criminal penalties.</p>
            </div>
		</div>

        <span class="acc-trigger"><a href="#">4.0 Approval of Advertisements </a></span>
		<div class="acc-container">
			<div class="content">
                4.1 GC will review any advertisement ("the Advertisement") proposed for publication on the Site after publishing the Advertisement. The Advertisement may be removed on the grounds that its content is a breach of these Terms, that the property so advertised is located outside of the  area as defined by our “List of acceptable Postcodes” or any other grounds solely at GC’s discretion. If at any time you make changes to the material which GC has previously approved in such a way as that material would not have received pre-approval GC reserves the right to remove your material from the Site and to retain any monies paid over without obligation to refund any monies. This right of removal and non-refund may be exercised at the sole discretion of GC and without good reason.
            </div>
		</div>

        <span class="acc-trigger"><a href="#">5.0 Contact</a></span>
		<div class="acc-container">
			<div class="content">
                5.1 It remains your responsibility to maintain the contact details you have provided to us. Failure to do so will be a breach of these Terms. If we cannot contact you within 10 working days of any attempt to do so we reserve the right to remove your advertisement from the Site without Notice to you or any third party
            </div>
		</div>

        <span class="acc-trigger"><a href="#">6.0 Intellectual property rights </a></span>
		<div class="acc-container">
			<div class="content">
                <p>6.1 We are the owner or the licensee of all intellectual property rights in our site, and in the material published on it. Those works are protected by copyright laws and treaties around the world. All such rights are reserved.</p>
                <p>6.2 You may print off one copy, and may download extracts, of any page(s) from our site for your personal reference and you may draw the attention of others to material posted on our site.</p>
                <p>6.3 You must not modify the paper or digital copies of any materials you have printed off or downloaded in any way, and you must not use any illustrations, photographs, video or audio sequences or any graphics separately from any accompanying text.</p>
                <p>6.4 Our status (and that of any identified contributors) as the authors of material on our site must always be acknowledged.</p>
                <p>6.5 You must not use any part of the materials on the Site for commercial purposes without obtaining a licence to do so from us or our licensors, which may be withheld without reason. 6.5 If you print off, copy or download any part of our site in breach of these terms of use, your right to use our site will cease immediately and you must, at our option, return or destroy any copies of the materials you have made.</p>
                <p>6.6 By Uploading material (“the Material”) to the Site and any other connected areas or services you agree to grant GC a non-exclusive, non-transferable, royalty-free licence to use the material in the production of corporate brochures, press releases, and similar printed or online materials solely for the purposes of promoting GC and its services or for promoting the advertising of the subject matter of the material.</p>
                <p>6.7 By uploading material to the Site and any other connected areas or services you warrant that you are the holder of any intellectual property rights connected to the said material and hereby indemnify us against any costs, claims, expenses or legal proceedings which may arise as a result.</p>
                <p>6.8 Except as expressly authorised by us you agree not to copy, download, adapt, modify, rent, lease, loan sell distribute or create derivative works of any material contained in or content of the Site in whole or in part.</p>
            </div>
		</div>

        <span class="acc-trigger"><a href="#">7.0 Our Liability</a></span>
		<div class="acc-container">
			<div class="content">
                7.1 The material displayed on our site is provided without any guarantees, conditions or warranties as to its accuracy. To the extent permitted by law, we, other members of our group of companies and third parties connected to us hereby expressly exclude:
                <ul class="circle_list">
                    <li>All conditions, warranties and other terms which might otherwise be implied by statute, common law or the law of equity.</li>
                    <li>Any liability for any direct, indirect or consequential loss or damage incurred by any user in connection with our site or in connection with the use, inability to use, or results of the use of our site, any websites linked to it and any materials posted on it, including, without limitation any liability for:</li>
                </ul>
                <ul class="square_list" style="margin-left: 15px">
                    <li>loss of income or revenue</li>
                    <li>loss of business</li>
                    <li>loss of profits or contracts</li>
                    <li>loss of anticipated savings</li>
                    <li>loss of data</li>
                    <li>loss of goodwill</li>
                    <li>wasted management or office time</li>
                    <li>and for any other loss or damage of any kind, however arising and whether caused by tort (including negligence), breach of contract or otherwise, even if foreseeable.</li>
                </ul>
                This does not affect our liability for death or personal injury arising from our negligence, nor any other liability which cannot be excluded or limited under applicable law.
                <br /><br />
                <p>7.2 GC provides links and address details to other sites for information purposes only and in no way represents or warrants the quality, or suitability of the suppliers on the list of approved suppliers for your purposes. Any dealing between you and a supplier from the above list of suppliers is at your sole risk and GC expressly excludes any liability for damage, loss, expenses or legal proceedings arising from your use of their services, or your contact with them.</p>
            </div>
		</div>

        <span class="acc-trigger"><a href="#">8.0 Reliance on information posted</a></span>
		<div class="acc-container">
			<div class="content">
                <p>8.1 Commentary and other materials posted on our site are not intended to amount to advice on which reliance should be placed. We disclaim all liability and responsibility arising from any reliance placed on such materials by any visitor to our site, or by anyone who may be informed of any of its contents. GC does not compile information contained in advertisements, that is solely the responsibility of the advertiser.</p>
                <p>8.2 GC does not make any representation or warranty as to whether any</p>
                <p>8.3 Although all advertising is expected to conform to the appropriate advertising standards, inclusion of such material in this site does not constitute a guarantee or endorsement of the quality or value of any products or of the claims made for them by the manufacturer. Users are advised to verify product information with the manufacturer.</p>
            </div>
		</div>

        <span class="acc-trigger"><a href="#">9.0 Online Agent</a></span>
		<div class="acc-container">
			<div class="content">
                9.1 Through the website, we showcase a wide range of chefs who can host meals, for individuals or groups ("Users"), for which Grub Club acts as an online agent. The Company itself does not intend to offer the services of the Chefs. These are made directly and under their sole responsibility as third-party stakeholders (the "Chef (s)") that this company presents and promotes through the Site.
            </div>
		</div>
        
        <span class="acc-trigger"><a href="#">10.0 Return of Correspondence</a></span>
		<div class="acc-container">
			<div class="content">
                10.1 You agree that GC should return to sender any correspondence sent to us regarding, but not limited to, offers to be involved in any part of the event or organisation process. GC expressly excludes any liability for any loss arising from their failure to pass on any such correspondence to any vendor.
            </div>
		</div>

        <span class="acc-trigger"><a href="#">11.0 Viruses, hacking and other offences</a></span>
		<div class="acc-container">
			<div class="content">
                11.1 You must not misuse our site by knowingly introducing viruses, trojans, worms, logic bombs or other material which is malicious or technologically harmful. You must not attempt to gain unauthorised access to our site, the server on which our site is stored or any server, computer or database connected to our site. You must not attack our site via a denial-of-service attack or a distributed denial-of service attack. By breaching this provision, you would commit a criminal offence under the Computer Misuse Act 1990. We will report any such breach to the relevant law enforcement authorities and we will co-operate with those authorities by disclosing your identity to them. In the event of such a breach, your right to use our site will cease immediately. We will not be liable for any loss or damage caused by a distributed denial-of-service attack, viruses or other technologically harmful material that may infect your computer equipment, computer programs, data or other proprietary material due to your use of our site or to your downloading of any material posted on it, or on any website linked to it.
            </div>
		</div>

        <span class="acc-trigger"><a href="#">12.0 Our site changes regularly</a></span>
		<div class="acc-container">
			<div class="content">
                12.1 We aim to update our site regularly, and may change the content at any time. If the need arises, we may suspend access to our site, or close it indefinitely. Any of the material on our site may be out of date at any given time, and we are under no obligation to update such material. We reserve the right to remove from the Site any material for any reason without notice to you or any third parties at our sole discretion. We accept no liability for loss or damage as a result of any such removal.
            </div>
		</div>

        <span class="acc-trigger"><a href="#">13.0 Links from our site</a></span>
		<div class="acc-container">
			<div class="content">
                13.1 Where our site contains links to other sites and resources provided by third parties, these links are provided for your information only. We have no control over the contents of those sites or resources, and accept no responsibility for them or for any loss or damage that may arise from your use of them.
            </div>
		</div>
		
        <span class="acc-trigger"><a href="#">14.0 Uploading material to our site</a></span>
		<div class="acc-container">
			<div class="content">
                14.1 Whenever you make use of a feature that allows you to upload material to our site, or to make contact with other users of our site, you must comply with these Terms. You warrant that any such contribution does not contain any material which is defamatory, offensive, illegal, obscene, subject to the intellectual property rights of others in breach of such rights, or breaches any duty of confidentiality by which you are bound , and you indemnify us for any breach of that warranty. Any material you upload to our site will be considered non-confidential and non-proprietary, and we have the right to use, copy, distribute and disclose to third parties any such material for any purpose. We also have the right to disclose your identity to any third party who is claiming that any material posted or uploaded by you to our site constitutes a violation of their intellectual property rights, or of their right to privacy, or is in breach of any statutory provisions or is in any other way illegal. We will not be responsible, or liable to any third party, for the content or accuracy of any materials posted by you or any other user of our site. We have the right to remove any material or posting you make on our site if, in our opinion, such material does not comply with these Terms.
            </div>
		</div>

        <span class="acc-trigger"><a href="#">15.0 Internet Access</a></span>
		<div class="acc-container">
			<div class="content">
                15.1 GC will not accept any liability for loss or damage which arises from your accessing of the internet. You access the internet at your own risk and are bound by the laws of any relevant jurisdiction. Any loss which you suffer as a result of interrupted access or inability to access the internet shall not be the responsibility of GC.
            </div>
		</div>

        <span class="acc-trigger"><a href="#">16.0 Jurisdiction and applicable law</a></span>
		<div class="acc-container">
			<div class="content">
                16.1 The English courts will have non-exclusive jurisdiction over any claim arising from, or related to, a visit to our site [although we retain the right to bring proceedings against you for breach of these conditions in your country of residence or any other relevant country]. These terms of use are governed by English law.
            </div>
		</div>

        <span class="acc-trigger"><a href="#">17.0 Variations</a></span>
		<div class="acc-container">
			<div class="content">
                17.1 We may revise these terms of use at any time by amending this page. You are expected to check this page from time to time to take notice of any changes we made, as they are binding on you. Some of the provisions contained in these terms of use may also be superseded by provisions or notices published elsewhere on our site. You continued use of the Site will be regarded as acceptance of any changes thus published.GC  will not accept any variation of the Terms by you unless agreed in writing. GC is under no obligation to agree to such a variation and may withhold it at their sole discretion and without reason.
            </div>
		</div>

        <span class="acc-trigger"><a href="#">18.0 Duration and Termination</a></span>
		<div class="acc-container">
			<div class="content">
                18.1 These Terms bind you immediately, your use of the Site is acceptance of them, they may only be terminated if; * You breach any of the terms and conditions contained herein * GC terminates them by written Notice served by either email or post giving 21 days notice. * You issue Notice in writing by post to GC of your wish to terminate the contractual arrangement between GC and yourself, settle any outstanding fees and giving 21 days notice.
            </div>
		</div>

        <span class="acc-trigger"><a href="#">19.0 Statutory Rights</a></span>
		<div class="acc-container">
			<div class="content">
                19.1 Nothing contained in these Terms effects your statutory rights.
            </div>
		</div>

        <span class="acc-trigger"><a href="#">20.0 Payment</a></span>
		<div class="acc-container">
			<div class="content">
                20.1 This will only be accepted by credit or debit card payable through an online system provided or authorised by GC. Charges may be suspended at any time by GC at their sole discretion for a period at their sole discretion. Please refer to our present scale of charges.
            </div>
		</div>

        <span class="acc-trigger"><a href="#">21.0 Notices</a></span>
		<div class="acc-container">
			<div class="content">
                21.1 Legal Notices may be served by post to our Registered Office as detailed above. GC may serve notice on you by post or by email. Notice shall be effective from the date of posting or the date of sending by email.
            </div>
		</div>

        <span class="acc-trigger"><a href="#">22.0 Safety and Security</a></span>
		<div class="acc-container">
			<div class="content">
                <p>22.1 While we make every reasonable effort to ensure that our events are of a certain standard, GrubKlub is not a restaurant and takes no responsibility for the Quality and Safety of the food served at our Host Evenings. The contract will be between you and the Host and will only be formed when you have been presented with the Confirmation Screen. You should also receive a confirmation email. Please ensure that you have given us the correct email address as this is how we will communicate with you about the event you will attend. The Host is solely responsible for all food preparation, premises and service.Grub Club seeks to provide a quality service, howeverGrub Club does not accept any responsibility or liability for the quality or quantity of any events you attend. We do monitor our Hosts very closely and it is of utmost importance to us that they comply with our standards and help us to maintain our reputation. Please let us know if you have any comments relating to our Hosts or in respect of the events, by using the Feedback section of the Service.</p>
                <p>22.2 It is the responsibility of the Host to ensure that all food is prepared and served under the guidelines of the UK Food Standard Authority.</p>
                <p>22.3 When arranging to meet other members of GrubKlub you must take responsibility for your own actions and follow appropriate precautions. You attend Host Events at your own risk and under no responsibility from GrubKlub.</p>
                <p>22.4 GrubKlub do not have the legal responsibility or means to verify users who sign up to our service.</p>
                <p>22.5 You must take reasonable care to protect and keep confidential your password and other account or identity information. You are responsible for third parties who use your account or identity (unless and to the extent that we are at fault).</p>
            </div>
		</div>

        <span class="acc-trigger"><a href="#">23.0 Your concerns</a></span>
		<div class="acc-container">
			<div class="content">
                <p>23.1 If you have any concerns about material which appears on our site, please contact <a href="mailto:contact@grubclub.com">contact@grubclub.com</a></p>
                <p>Thank you for visiting our site, we hope you enjoy it.</p>
            </div>
		</div>

		<span class="acc-trigger"><a href="#">Privacy Policy</a></span>
		<div class="acc-container">
			<div class="content">
            Grub Club ("GC") ("We") are committed to protecting and respecting your privacy. This policy (together with our terms of use and any other documents referred to on it) sets out the basis on which any personal data we collect from you, or that you provide to us, will be processed by us.
            <br /><br />
                Please read the following carefully to understand our views and practices regarding your personal data and how we will treat it. For the purpose of the Data Protection Act 1998 (the Act), the data controller is Grub Club, Base Kx 103C, Camley Street, London N1C 4PF. Information we may collect from you: We may collect and process the following data about you:
            <ul class="circle_list">
                <li>Information that you provide by filling in forms on our site www.GrubClub.com (our site). This includes information provided at the time of registering to use our site, subscribing to our service, posting material or requesting further services. We may also ask you for information when you report a problem with our site.</li>
                <li>If you contact us, we may keep a record of that correspondence.</li>
                <li>We may also ask you to complete surveys that we use for research purposes, although you do not have to respond to them.</li>
                <li>Details of transactions you carry out through our site and of the fulfilment of your orders.</li>
                <li>Details of your visits to our site including, but not limited to, traffic data, location data, web logs and other communication data, whether this is required for our own billing purposes or otherwise and the resources that you access.</li>
            </ul>
            <strong>IP addresses and cookies:</strong>
            We may collect information about your computer, including where available your IP address, operating system and browser type, for system administration and to report aggregate information to our advertisers. This is statistical data about our users' browsing actions and patterns, and does not identify any individual. For the same reason, we may obtain information about your general internet usage by using a cookie file which is stored on the hard drive of your computer. Cookies contain information that is transferred to your computer's hard drive. They help us to improve our site and to deliver a better and more personalised service.
            They enable us:
            <ul class="circle_list">
                <li>To estimate our audience size and usage pattern.</li>
                <li>To store information about your preferences, and so allow us to customise our site according to your individual interests.</li>
                <li>To speed up your searches.</li>
                <li>To recognise you when you return to our site.</li>
            </ul>
            You may refuse to accept cookies by activating the setting on your browser which allows you to refuse the setting of cookies. However, if you select this setting you may be unable to access certain parts of our site. Unless you have adjusted your browser setting so that it will refuse cookies, our system will issue cookies when you log on to our site. Please note that our advertisers may also use cookies, over which we have no control. Where we store your personal data The data that we collect from you may be transferred to, and stored at, a destination outside the European Economic Area ("EEA"). It may also be processed by staff operating outside the EEA who work for us or for one of our suppliers. Such staff maybe engaged in, among other things, the processing of your payment details and the provision of support services. By submitting your personal data, you agree to this transfer, storing or processing. We will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this privacy policy. Where we have given you (or where you have chosen) a password which enables you to access certain parts of our site, you are responsible for keeping this password confidential. We ask you not to share a password with anyone. Unfortunately, the transmission of information via the internet is not completely secure. Although we will do our best to protect your personal data, we cannot guarantee the security of your data transmitted to our site; any transmission is at your own risk. Once we have received your information, we will use strict procedures and security features to try to prevent unauthorised access.
            <br />
            <strong>Uses made of the information:</strong>
            We use information held about you in the following ways:
            <ul class="circle_list">
                <li>To ensure that content from our site is presented in the most effective manner for you and for your computer.</li>
                <li>To provide you with information, products or services that you request from us or which we feel may interest you, where you have consented to be contacted for such purposes.</li>
                <li>To carry out our obligations arising from any contracts entered into between you and us.</li>
                <li>To allow you to participate in interactive features of our service, when you choose to do so.</li>
                <li>To notify you about changes to our service.</li>
            </ul>    
            We will only make information about you or your data available to parties outside of GC  and its subsidiaries if we are required to by the operation of law in any jurisdiction relevant, or in accordance to the “Disclosure of your information” section of this policy. Unless to do so is in connection with your advertisement on the Site. If you are an existing customer, we will only contact you by electronic means (e-mail or SMS) with information about goods and services similar to those which were the subject of a previous sale to you. If you do not want us to use your data in this way, please tick the relevant box situated on the form on which we collect your data or unsubscribe by way of the link in the emails we pass to you. We do not disclose information about identifiable individuals to our advertisers, but we may provide them with aggregate information about our users (for example, we may inform them that 500 men aged under 30 have clicked on their advertisement on any given day). We may also use such aggregate information to help advertisers reach the kind of audience they want to target (for example, women in SW1). We may make use of the personal data we have collected from you to enable us to comply with our advertisers' wishes by displaying their advertisement to that target audience. Disclosure of your information We may disclose your personal information to any member of our group, which means our subsidiaries, our ultimate holding company and its subsidiaries, as defined in section 736 of the UK Companies Act 1985.
            <br />
            <strong>We may disclose your personal information to third parties:</strong>
            <ul class="circle_list">
                <li>In the event that we sell or buy any business or assets, in which case we may disclose your personal data to the prospective seller or buyer of such business or assets.</li>
                <li>If GC or substantially all of its assets are acquired by a third party, in which case personal data held by it about its customers will be one of the transferred assets.</li>
                <li>If we are under a duty to disclose or share your personal data in order to comply with any legal obligation, or in order to enforce or apply our terms of use and other agreements; or to protect the rights, property of our customers, or others. This includes exchanging information with other companies and organisations for the purposes of fraud protection and credit risk reduction.</li>
            </ul>    
            <strong>Your rights:</strong>
            You have the right to ask us not to process your personal data for marketing purposes. We will usually inform you (before collecting your data) if we intend to use your data for such purposes or if we intend to disclose your information to any third party for such purposes. You can exercise your right to prevent such processing by checking certain boxes on the forms we use to collect your data. You can also exercise the right at any time by contacting us at <a href="mailto:contact@grubclub.com">contact@grubclub.com</a> Our site may, from time to time, contain links to and from the websites of our partner networks, advertisers and affiliates. If you follow a link to any of these websites, please note that these websites have their own privacy policies and that we do not accept any responsibility or liability for these policies. Please check these policies before you submit any personal data to these websites. Access to information The Act gives you the right to access information held about you. Your right of access can be exercised in accordance with the Act. Any access request may be subject to a fee of £10 to meet our costs in providing you with details of the information we hold about you. Changes to our privacy policy Any changes we may make to our privacy policy in the future will be posted on this page. Changes will be notified by notice on our Home Page.
            <br /><br />
            Contact Questions, comments and requests regarding this privacy policy are welcomed and should be addressed to <a href="mailto:contact@grubclub.com">contact@grubclub.com</a>
            </div>
		</div>
	
	</div>

</div>
<!-- End 960 Container -->