@{
    ViewBag.Title = "Get Someone the Grub Club Gift Voucher!";
    ViewBag.Description = "Get that special someone the Grub Club gift voucher and give them access to hundreds of wild and wonderful supper clubs all over London!";
}
    @*<div class="container mb+">
        <ul class="breadcrumbs list-inline list-inline--delimited pt-- mb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Chefs </a></li>
            <li><a href="#">User Profile </a></li>
            <li class="current"><a href="#">Adam Walden</a></li>
        </ul>

    </div>*@

    <div class="container">

        <h1 class="type-light mb">Information</h1>
        <form action="">
            <div class="layout">
               @Html.Partial("_LeftNavigation")
                <div class="layout__item large-and-up-3/4">
                    <h2 class="h3 mb-">Vouchers</h2>

                    <article class='mb'>
                        <a href="/gift-voucher">
                            <img src="@Url.Content("~/Content/images/")Voucher_Image.jpg">
                        </a>
                    </article>
                </div>
            </div>
        </form>

    </div>

