@model SupperClub.Models.TransactionResult
@{
    ViewBag.Title = "PrePostPayment";
}
@section PageSpecificScripts {
   <script type="text/javascript">
        if (top.frames.length > 0)
        {
            var success = "Success=" + "@Model.Success";
            var message = "TransactionMessage=" + "@Model.TransactionMessage";
            var eventId = "EventId=" + "@Model.EventId";
            var finalLocation = window.location + "?" + success + "&" + message + "&" + eventId;

            top.location = finalLocation;
        }
    </script>
}
<p>Your transaction is processing. Please do not refresh and do not click on back button!</p>
