@{
    ViewBag.Title = "Get Started Hosting a Grub Club";
}

@section PageSpecificScripts {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/bootstrap.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/welcomehost.css")" />
    <script src="@Url.Content("~/Scripts/home/bootstrap.min.js")" type="text/javascript"></script>
}

<div class="container" id="main">

    <div class="col-sm-12">
        <h1>Why hello there.<br />Welcome to the world of Grub Club hosting!</h1>

        <p>
            Hosting a Grub Club is an incredibly fun and rewarding experience, but it’s also extremely tough and
            challenging and it’s not for everyone. That’s why we need to make sure you’re absolutely ready to
            take on this journey together.
        </p>
    </div>
    <div class="col-sm-12">
        <h2>What Happens Now?</h2>
        <div class="steps">
            <ol>
                <li class="text-primary">Create a Grub Club Profile </li>
                <li class="text-primary">Create a specific Grub Club (an event)</li>

                <li class="text-danger"><b>Grub Club HQ will review and let you know if approved</b></li>
                <li class="text-success">If approved, you can use your Grub Club URL to start promoting to your followers</li>
            </ol>
        </div>
    </div>

    <ol>
        <li>
            You will need to create a Grub Club profile (first time only - if you haven't already created one)
            <ul>
                <li>
                    This is your permanent online presence, which you will build over time, with grubclubs, user reviews, etc.
                </li>
            </ul>
        </li>
        <li>
            You will then be taken to create your first Grub Club
            <ul>
                <li>This is the information about the specific event you are planning (date, time, concept, price, etc.)</li>
            </ul>
        </li>
        <li>
            Once you have created these, we will receive an email at Grub Club HQ to review it.
            <ul>
                <li>We will review and assess whether it’s something we feel our Grub Club community of users will enjoy and want to book</li>
            </ul>
        </li>
        <li>
            If approved, we’ll come back to you to let you know.
            <ul>
                <li>You can then use the URL from your newly created Grub Club page to send to your users, so they can book to attend your Grub Club, which you can track online</li>
            </ul>
        </li>
    </ol>

    <h2>How do I improve my chances of being approved? Here are some tips:</h2>

    <div>
        <p><b>Preparation.</b> How are you planning on marketing your Grub Club?</p>

        <p><b>Timeline.</b> Your grub club should be At Least 4-6 weeks away to give you proper time for marketing</p>

        <p><b>Pricing.</b> Compare your price to restaurants around, e.g. price of starter + main + dessert: are you better value than a restaurant? You need to incentivise diners to choose you over their local restaurant</p>
    </div>

    <p>
        <b>Unique Selling Point:</b> What makes your Grub Club unique/special/different?
        Why should someone choose you over someone else’s Grub Club or a restaurant?
        <em>
            This could be your style, way of cooking, setting, location, offering – think of what you’d use as a pull to attract people to your Grub Club
        </em>
    </p>

    <p><b>Photography:</b> Do you have great pictures of your food and/or people enjoying themselves at an event you’ve held in the past? Pictures say a thousand words, so you’ll transform your chances of getting bookings if you have great pictures</p>

    <p class="text-danger">
        <b>
            We will be assessing the above criteria while we review and approve Grub Club requests
            so please make sure you submit relevant events, otherwise we may have wasted your time!
        </b>
    </p>

    <p>
        <em>
            Make sure you look through all the sections so you have all the information you need.
            You can save between creating your Profile and your Event, but not during the process.
            Ask us anything you want – we love helping!
        </em>
    </p>

    <p>If you’re ready, you can now <a href="@Url.Action("registersupperclub", "host")">Click Here to Start Creating your own Grub Club World!</a></p>
</div>
