<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SupperClub.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>

    <section name="sagePay" type="System.Configuration.NameValueSectionHandler" />
    <section name="payPal" type="System.Configuration.NameValueSectionHandler" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    
  </configSections>

  <sagePay>
    <add key="VendorName" value="grubklubsim" />
    <!-- Simulator, Test or Live -->
    <add key="Mode" value="Simulator" />
	<add key="ProtocolVersion" value="2.23"/>
  </sagePay>

  <payPal>
    <add key="MerchantUserName" value="josh_1352754747_biz_api1.agilemediaware.com" />
    <add key="MerchantPassword" value="1352754799" />
    <add key="Signature" value="AFcWxV21C7fd0v3bYYYRCpSSRl31AHnCMCL0B20kSJLz3glbPnNyWc4B" />
    <!-- Sandbox or Live -->
    <add key="Mode" value="Sandbox" />
  </payPal>

	<connectionStrings>
		<add name="SupperClub.Data.EntityFramework.SupperClubContext"
			 connectionString="Data Source=localhost;Initial Catalog=SupperClub;User ID=supperclub_user;Password=82LsN33j#123"
			 providerName="System.Data.SqlClient" />
		<add name="ApplicationServices"
			 connectionString="data source=localhost;Initial Catalog=SupperClub;User Id=supperclub_user;Password=82LsN33j#123"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.net>
    <mailSettings>
      <smtp from="GrubTest &lt;grubklub@gmail.com&gt;">
        <network host="smtp.gmail.com" port="587" userName="grubklub@gmail.com" password="thisisthesupperclubemailpassword" enableSsl="true" />
      </smtp>
     <!-- <smtp from="GrubClub &lt;eat@grubclub.com&gt;">
        <network host="smtp.gmail.com" port="587" userName="eat@grubclub.com" password="Supperclub78" enableSsl="true" />
      </smtp>-->
    </mailSettings>
  </system.net>

  <appSettings>
    <add key="OfficeAddress" value="Base KX, 103C Camley Street, London N1C 4PF"/>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="SupperClubImagePath" value="~/Content/Images/SupperClubs/" />
    <add key="EventImagePath" value="~/Content/Images/Events/" />
    <add key="TempImagePath" value="~/Content/Images/tempImages/" />
	<add key="ImageCollectionPath" value="~/Content/Images/Collection/"/>
	<add key="PressReleaseImagePath" value="~/Content/Images/PressRelease/"/>
    <add key="MaxImageWidth" value ="574"/>
    <add key="MaxImageHeight" value="417"/>
    <add key="GoogleMapsKey" value="ABQIAAAAzr2EBOXUKnm_jVnk0OJI7xSosDVG8KKPE1-m51RBrvYughuyMxQ-i1QfUnH94QxWIa6N4U6MouMmBA"/>
    <add key="GoogleMapsSearchDistance" value="10"/>
    <!-- Facebook_API_Key: GrubClubTest Facebook App -->
    <add key="Facebook_API_Key" value="166890203513974" />
    <add key="Facebook_API_Secret" value="81655f3a134a52d9ebb01e4921a162d7"/>
    <add key="Facebook_Graph_Host" value="graph.facebook.com"/>
    <add key="Facebook_Scheme" value="https"/>
    <add key="Facebook_Path" value="oauth"/>
    <add key="Facebook_Redirect_Uri"  value="Account/FacebookLoginOK"/>
    <add key="ReportFolderPath" value="~/App_Data/TempReports/" />
    <add key="MaxTicketsAllowed" value="30" />
    <add key="TicketBasketSessionTimeOut" value="3" />
	<add key="TicketThresholdForTriggeringNotification" value="6" />
    <add key="DefaultAdminEmailAddress" value="anusha@grubclub.com" />
	<add key="DefaultContactEmailAddress" value="anusha@grubclub.com" />
    <add key="UtmTagForWishList" value="utm_source=wishlist_soldout&amp;utm_medium=[utmMediumValue]" />
    <!-- ForceSSL: MUST STAY TRUE IN PRODUCTION -->
    <add key="ForceSSL" value="false" />
    <add key="VATPercent" value="20" />
    <add key="CommissionPercent" value="10" />
    <add key="CommissionFixed" value="0" />
    <!-- Use Decibal Insight Tags: ONLY TRUE IN PRODUCTION -->
    <add key="UseDecibalInsight" value="false" />
    <!-- SendEmailToHost: ONLY TRUE IN PRODUCTION -->
    <add key="SendEmailToHost" value="false" />
    <!-- UseGoogleAnalytics: ONLY TRUE IN PRODUCTION -->
    <add key="UseGoogleAnalytics" value="false" />
    <!-- Use Crazy Egg Tags: ONLY TRUE IN PRODUCTION -->
    <add key="UseCrazyEgg" value="false" />
	<!-- UseVisualWebsiteOptimizerCode: ONLY TRUE IN PRODUCTION -->
	<add key="UseVisualWebsiteOptimizerCode" value="false" />
	<!-- UseFBAdvertising: ONLY TRUE IN PRODUCTION -->
	<add key="UseFBAdvertising" value="false" />
    <!-- UseAppNexusSegHome: ONLY TRUE IN PRODUCTION -->
    <add key="UseAppNexusSegHome" value="false" />
    <!-- UseAppNexusPixel: ONLY TRUE IN PRODUCTION -->
    <add key="UseAppNexusPixel" value="false" />
    <!-- UseMentionMeReferrer: ONLY TRUE IN PRODUCTION -->
    <add key="UseMentionMeReferrer" value="false" />
    <add key="GoogleMapsCircleRadius" value="300"/>
	<!-- Twitter API client oAuth settings -->
	<add key="twitterConsumerKey" value="oP7IVkW8cvWpqxRI3ylPZA" />
	<add key="twitterConsumerSecret" value="ynlYvuR9edSmhTN3XmdyG0qbqA9uOh9uMU5zHi2qE" />
	<!-- Braintree_API: Dev Local Braintree -->
    <add key="BraintreeMerchantId" value="csmbhw5ckqw3d2zk" />
    <add key="BraintreePublicKey" value="7vmfyd6nsxmqt58w" />
    <add key="BraintreePrivateKey" value="81a2e80b592659e601a45f72db8fdbe8" />
    <add key="BraintreeEnvironment" value="sandbox" />
    <!-- Urban Airship API for Mobile App Notification -->
    <add key="UrbanAirshipAPIUrl" value="https://go.urbanairship.com/api/push/" />
    <add key="UrbanAirshipAppKey" value="39SVyTRjQtug9Ik-fWcoOg" />
    <add key="UrbanAirshipAppSecret" value="OTNFhjdeRteKtYFOeDHX6g" />
    <add key="UrbanAirshipMasterSecret" value="6KW_X8ZnSO-anr9PHP121g" />
   <!-- Pushwhoosh API for Mobile App Notification -->
    <add key="PushWooshAppCode" value="71A1E-30A0E" />
    <add key="PushWooshApiToken" value="ufAg8rlBVggxLcZCdQFgr8YNWNUtlJQ0sagtiKaeflkcN808RFk2UtMkwTUVEuVMS9d95uhy0KDU5C0YuoNv" />
    <add key="PushWooshApiUrl" value="https://cp.pushwoosh.com/json/1.3/" />
    <add key="PushWooshApiAction" value="createMessage" />
    <!-- Aviary plugin API for image editing -->
    <add key="AviaryApiKey" value="bdcee52b000341b1b97123398d1252c0" />
    <!-- Segment for data collection -->
    <add key="SegmentKey" value="mvkn1AED1BUgtG0QbzomBvxV6UrzzwXd" />
	  <!-- TestCreditCard: MUST BE 0 IN PRODUCTION
        Value of 0 does not use a Test Credit Card
        * is currently supported
        NONE = 0,
        *VISA = 1,
        *MC = 2,
        DELTA = 3,
        *UKMAESTRO = 4,
        INTMAESTRO = 5,
        *AMEX = 6,
        UKE = 7,
        JCB = 8,
        DINERS = 9,
        LASER = 10 -->
    <add key="TestCreditCard" value="2" />
    <add key="AllowSagePay" value="true" />
    <add key="AllowPayPal" value="false" />
    <!-- Test: 316790 -->
    <add key="LiveFyreSiteId" value="316790" />
    <add key="ShareThisPublisherId" value="ur-9d1597b8-3086-4a2-7588-1d2f59353" />
    <!-- LoggingLevel DEBUG, INFO, WARN, ERROR, FATAL, OFF -->
    <add key="LoggingLevel" value="INFO"/>
    <add key="UseSnapEngage" value="false" />
    <!-- UseSegment: ONLY TRUE IN PRODUCTION -->
    <add key="UseSegment" value="false" />
    <add key="ShowValidationSummaryClicks" value="3" />
	<!-- SitemapUpdateInterval: Time interval in hours to specify how frequently we update and submit sitemap.xml -->
	<add key="SitemapUpdateInterval" value="12" />
	<!-- SubmitSitemap: We want to submit sipemap only in Live Environment -->
	<add key="SubmitSitemap" value="false" />
  </appSettings>

  <system.web>
<globalization culture="en-GB" uiCulture="en-GB"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="SupperClub.Data.EntityFramework.SupperClubContext"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="SupperClub.Data.EntityFramework.SupperClubContext" applicationName="/" />
      </providers>
    </profile>

    <roleManager enabled="true">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="SupperClub.Data.EntityFramework.SupperClubContext" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>

   <customErrors mode="On"  defaultRedirect="~/Home/Error" redirectMode="ResponseRewrite" >
      <error  statusCode="404" redirect="~/404_new.aspx" />
    </customErrors>
    <!-- Max image size to upload 50Mb, timeout of 600s = 10mins -->
    <httpRuntime maxRequestLength="51200" executionTimeout="600" />
  </system.web>

  <system.webServer>
<security>
      <requestFiltering>
         <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
   </security>
   <rewrite>
		  <rules>
			  <rule name="Redirect to non-www" stopProcessing="true">
				  <match url="(.*)" negate="false"></match>
				  <action type="Redirect" url="http://test.grubclub.com/{R:1}"></action>
				  <conditions>
					  <add input="{HTTP_HOST}" pattern="^test.grubclub\.com$" negate="true"></add>
				  </conditions>
			  </rule>
		  </rules>
	  </rewrite>
 <validation validateIntegratedModeConfiguration="false"/>
	   <!--51Degrees.mobi IIS 7.X - Registers a module that is used to detect any new requests to the web site.
    Without this module mobile detection and redirection won't work.-->
<modules runAllManagedModulesForAllRequests="true">
      <remove name="Detector"/>
      <add name="Detector" type="FiftyOne.Foundation.Mobile.Detection.DetectorModule, FiftyOne.Foundation"/>
    </modules>
<staticContent>
		  <mimeMap fileExtension=".woff" mimeType="font/x-woff" />
 <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
</staticContent>
<httpProtocol>
      <customHeaders>
        <!-- Enable Cross Domain AJAX calls -->
        <remove name="Access-Control-Allow-Origin" />
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>

    

	  

	  
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.1" newVersion="3.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <log4net>
    <appender name="AdoNetAppender_SqlServer" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
		<connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<connectionString value="Data Source=localhost;Initial Catalog=SupperClub;User ID=supperclub_user;Password=82LsN33j#123" />
		<commandText value="INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
		<!--Could use this to clean log on every insert  <commandText>
        <![CDATA[INSERT INTO EventLog ([Date],[Thread],[Level],[Logger],[Message],[Exception])
             VALUES (@log_date, @thread, @log_level, @logger, @message, @exception);
             DELETE FROM EventLog WHERE Date < DATEADD(Day, -7, GETDATE())]]>
      </commandText>-->
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG"/>
        <param name="LevelMax" value="FATAL"/>
      </filter>
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.PatternLayout" value="%date{yyyy'-'MM'-'dd HH':'mm':'ss'.'fff}" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout" value="%thread" />
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout" value="%level" />
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout" value="%logger" />
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout" value="%message" />
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout" value="%exception" />
      </parameter>
    </appender>
    <root>
      <level value="All"/>
      <appender-ref ref="AdoNetAppender_SqlServer"/>
    </root>
  </log4net>
  
</configuration>